body {
    background-color: #282828;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.part {
    background-color: #504945;
    display: flex;
    flex-direction: row;

}

.cell {
    min-width: 12px;
    max-width: 12px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebdbb2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
}

.part:nth-child(even) {
    background-color: #3c3836;
}

.cur {
    background-color: #665c54 !important;
}